{% extends "base.html" %}
{% block content %}
    <div class="container mt-3 p-5">
        <!-- Go back to server with right id -->
        <a href="{% url 'server' room.chat_server.id %}">Back to server "{{ room.chat_server.name }}"</a>
        <h2>Welcome to room "{{ room.name }}"</h2>
        <div class="row">
            <div class="col-12 col-md-8">
                <!-- CHAT LOG -->
                <div id="chatFeed">
                    <ol id="scroller-inner">
                        {% for message in room.messages.all %}
                            <li id="{{ message.nonce }}" class="chat_messages" data-user-id="{{ message.user.id }}">
                                <div class="message-container">
                                    <div class="toolbar btn-group">
                                        {% if message.user.id == user.id %}
                                            <button class="btn btn-outline-dark editMessage" type="button" id="editMessage-{{ message.nonce }}" data-nonce="{{ message.nonce }}">
                                                <i class="bi bi-pencil-fill"></i>
                                            </button>
                                            <button class="btn btn-outline-dark deleteMessage" type="button" id="deleteMessage-{{ message.nonce }}" data-nonce="{{ message.nonce }}">
                                                <i class="bi bi-trash-fill"></i>
                                            </button>
                                        {% endif %}
                                        <button class="btn btn-outline-dark respondMessage" type="button" id="respondMessage-{{ message.nonce }}" data-nonce="{{ message.nonce }}">
                                            <i class="bi bi-arrow-90deg-left"></i>
                                        </button>
                                    </div>
                                    <img class="user-avatar" src="{{ message.user.avatar.url }}" alt="avatar" height="50" width="50">
                                    <h3 class="chat-user">{{ message.user.username }} <span class="timestamp">{{ message.formatted_timestamp }}</span></h3>
                                    <div class="message-content">{{ message.content }}</div>
                                </div>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
                <!-- CHAT INPUT -->
                <form id="chatInputForm">
                    <div class="input-group mt-4">
                        <input type="text" class="form-control" id="chatMessageInput" placeholder="Enter your chat message" aria-label="Enter your chat message" aria-describedby="chatMessageSend">
                        <button class="btn btn-outline-success" type="submit" id="chatMessageSend">Send</button>
                    </div>
                </form>
            </div>
            <!-- ONLINE USERS -->
            <div class="col-12 col-md-4">
                <label for="onlineUsers">Online users</label>
                <select multiple class="form-control" id="onlineUsersSelector">
                </select>
            </div>
        </div>
        {{ room.name|json_script:"roomName" }}
    </div>
{% endblock content %}